$brandColor1: #ff0000;
$brandColor2: #00ff00;
$brandColor3: #0000ff;

$black: #252525;
$gray: #555555;
$white: #EFEFEF;

$bodyBackground: #fafafa;
$textColor: #464646;

$heading-font-family: Helvetica;
$body-font-family: Helvetica;
$alt-font-family: Helvetica;

$baseSpacingUnit: 15px;
